.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px auto;
  gap: 40px;
}

@media screen and (min-width: 769px) {
  .collapse-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:20px;
  }
}

.collapse {
  width: 100%;
  flex:1;
  margin: 10 0;
  margin-bottom: 25%;
  padding-bottom: 20px;
}

@media screen and (min-width: 769px) {
  .collapse {
    width: 80%;
    margin: 20px auto;
  }
}

.collapse-header {
  background: #ff6060;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  font-weight: 600;
}

@media screen and (min-width: 769px) {
  .collapse-header {
    height: 47px;
  }
}

.collapse__visible .collapse-content {
  display: block;
  padding: 22px 15px;
  background-color: #f7f7f7;
  border-radius: 5px;
  max-height: 230px;
}

.collapse-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  font-weight: 500;
  list-style-type: none;
}


.chevron {
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg);
}

@media screen and (min-width: 769px) {
  .chevron {
    width: 15px;
  }
}

.collapse-header h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 142.6%;
  margin: 0;
}

@media screen and (min-width: 769px) {
  .collapse-header h2 {
    font-size: 24px;
  }
}
