:root{
  --small-borderRadius: 10px;
}
.card-logement {
  position: relative;
  display: flex;
  width: 335px;
  height: 255px;
  border-radius: var(--small-borderRadius);
  min-width: 335px;
  transition: transform 1s;
}

.card-logement img {
  display: flex;
  width: 100%;
  border-radius: var(--small-borderRadius);
  -o-object-fit: cover;
     object-fit: cover;
}
.card-logement__layer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 320%);
  width: 100%;
  height: 100%;
  border-radius: var(--small-borderRadius);
}
.card-logement__title {
  display: flex;
  align-items: flex-end;
  position: absolute;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  color: #f1f1f1;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  border-radius: var(--small-borderRadius);
  margin: 22px 0;
  flex-wrap: wrap;
}
@media screen and (min-width: 769px) {
  .cards-container {
    gap: 50px;
    padding: 5% 1%;
    background-color: #f7f7f7;
    border-radius: 25px;
    margin: 43px 0;
  }
  .card-logement {
    width: 500px;
    height: 280px;
    border-radius: var(--small-borderRadius);

  }
  .card-logement:hover, .card-logement:focus {
    box-shadow: rgba(255, 96, 96, 0.9) 0 0 22px 6px;
  }
}